* {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
body {
    background: #252527;
}
.wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.children-centered {
    position: relative;
    text-align: center;
}
.children-centered:after {
    content: '\0020';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.children-centered > * {
    display: inline-block;
    vertical-align: middle;
}
.phone {
    width: 430px;
    height: 885px;
    margin: 25px 0;
    border-radius: 55px;
    box-shadow: inset 0 0 0 2px #444;
}
.phone .screen {
    width: 375px;
    height: 667px;
    box-shadow: 0 0 0 2px #444;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-perspective: 0;
    perspective: none;
    overflow: hidden;
}
board {
    background-color: white;
}
piece {
    z-index: 2 !important;
    cursor: pointer;
    background-repeat: no-repeat;
    background-color: white;
    position: relative;
    -webkit-transition: box-shadow 100ms;
    transition: box-shadow 100ms;
}
piece:hover {
    /* To be removed on mobile app version  */
    z-index: 3 !important;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.8);
}
piece.in-motion {
    z-index: 4 !important;
    box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.8);
}
piece.to-swap {
    z-index: 1 !important;
}
