* {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
body {
  margin: 0px;
  padding: 0px;
  background: #fcfcfc;
}
svg path {
  fill: #fff;
}
main.wrapper {
  display: block;
  position: fixed;
  width: 100%;
  min-width: 530px;
  height: 100%;
  overflow-y: scroll;
}
footer.credits {
  display: block;
  position: fixed;
  left: 12px;
  bottom: 8px;
  min-width: 250px;
  transform-origin: 0 0;
  transform: rotate3d(0, 0, 1, -90deg);
  text-align: center;
  font-family: "Montserrat";
  font-size: 12px;
  color: #666;
  vertical-align: middle;
}
footer.credits:before {
  content: '\0020';
  display: inline-block;
  width: 20px;
  height: 2px;
  margin-right: 5px;
  background: #666;
  vertical-align: middle;
}
footer.credits a {
  color: #444;
  text-decoration: underline;
}
.children-centered {
  position: relative;
  text-align: center;
}
.children-centered:after {
  content: '\0020';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.children-centered > * {
  display: inline-block;
  vertical-align: middle;
}
.children-float:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.children-float > * {
  float: left;
}
.phone {
  width: 424px;
  height: 856px;
  margin: 25px 0;
  border-radius: 50px;
  box-shadow: inset 0 0 0 5px #444;
  background: #fff;
}
.phone .screen {
  width: 414px;
  height: 736px;
  margin: 60px auto;
  box-shadow: 0 0 0 5px #444;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-perspective: 0;
  perspective: none;
  overflow: hidden;
}

.puzzle-app {
  position: relative;
  color: #fff;
}
.puzzle-app, .puzzle-app button {
  font-family: "Montserrat";
  font-size: 15px;
  color: #fff;
}
.puzzle-app .relative {
  position: relative;
}
.puzzle-app .view.hidden {
  visibility: hidden;
}
.puzzle-app .view .plaque {
  backface-visibility: hidden;
}

.puzzle-app .view.menu .plaque:nth-child(1) { background: #bce784; }
.puzzle-app .view.menu .plaque:nth-child(2) { background: #8ddd91; }
.puzzle-app .view.menu .plaque:nth-child(3) { background: #5dd39e; }
.puzzle-app .view.menu .plaque:nth-child(4) { background: #49afa3; }
.puzzle-app .view.menu .plaque:nth-child(5) { background: #348aa7; }
.puzzle-app .view.menu .plaque:nth-child(6) { background: #436e8e; }
.puzzle-app .view.menu .plaque:nth-child(7) { background: #525174; }
.puzzle-app .view.menu .plaque:nth-child(8) { background: #513b56; }

.puzzle-app .view.puzzle .plaque:nth-child(1) { background: #348AA7; }
.puzzle-app .view.puzzle .plaque:nth-child(2) { background: #3B7A96; }
.puzzle-app .view.puzzle .plaque:nth-child(3) { background: #416986; }
.puzzle-app .view.puzzle .plaque:nth-child(4) { background: #485975; }
.puzzle-app .view.puzzle .plaque:nth-child(5) { background: #4E4864; }

.puzzle-app .view.menu .plaque:first-child svg,
.puzzle-app .view.menu .plaque:last-child svg { max-height: 40%; }

.puzzle-app .view .plaque .children-centered {
  height: 100%;
}
.puzzle-app .view .plaque .text {
  cursor: default;
}
.puzzle-app .view .plaque .text.heading {
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
}
.puzzle-app .view .plaque .column svg { 
  display: inline-block;
  position: relative;
  max-width: 50%;
  max-height: 50%;
}
.puzzle-app .view .plaque .column .text {
  text-align: left;
  width: 100%;
}
.puzzle-app .view .plaque .column .text.align-right {
  text-align: right;
}
.puzzle-app .view .plaque .column .text.indented {
  text-indent: 15px;
}
.puzzle-app .view .plaque .column .row:first-child .children-centered > *,
.puzzle-app .view .plaque .column .row:first-child .children-centered:after {
  vertical-align: bottom;
}
.puzzle-app .view .plaque .column .row:last-child .children-centered > *,
.puzzle-app .view .plaque .column .row:last-child .children-centered:after {
  vertical-align: top;
}
.puzzle-app .view .plaque button {
  border-width: 0;
  background: #FF4081;
  border-radius: 20px;
  padding: 0;
  margin: 0 2%;
  outline: none;
  cursor: pointer;
  backface-visibility: hidden;
}
.puzzle-app .view .plaque button.inactive {
  opacity: .5;
  cursor: default;
}
.puzzle-app .view .plaque button > * {
  top: 0;
}
.puzzle-app .view .plaque button span {
  line-height: 40px;
  vertical-align: middle;
}
.puzzle-app .view .plaque .on-flip {
  visibility: hidden;
  background: #455A64;
  top: 0;
}
.puzzle-app .view .plaque .board.loading:before {
  content: '\0020';
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  left: 50%;
  top: 50%;
  box-shadow: inset 0 0 0 3px #fff;
  animation-name: rotate;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes rotate {
  0% { transform: rotateX(0, 0, 1, 0deg); }
  50% { transform: rotate3d(0, 0, 1, 90deg); }
  100% { transform: rotate3d(0, 0, 1, 90deg); }
}
.puzzle-app .view .plaque .board .piece {
  z-index: 2 !important;
  cursor: pointer;
  background-repeat: no-repeat;
  transition: box-shadow 100ms;
  backface-visibility: hidden;
}
.puzzle-app .view .plaque .board .piece:hover {
  /* To be removed on mobile app version  */
  z-index: 3 !important;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.8);
}
.puzzle-app .view .plaque .board .piece.in-motion {
  z-index: 4 !important;
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.8);
}
.puzzle-app .view .plaque .board .piece.to-swap {
  z-index: 1 !important;
}
