* {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
svg path {
  fill: #fff;
}
.wrapper {
  position: fixed;
  width: 100%;
  min-width: 480px;
  height: 100%;
  overflow-y: scroll;
}
.children-centered {
  position: relative;
  text-align: center;
}
.children-centered:after {
  content: '\0020';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.children-centered > * {
  display: inline-block;
  vertical-align: middle;
}
.children-float:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.children-float > * {
  float: left;
}
.phone {
  width: 430px;
  height: 885px;
  margin: 25px 0;
  border-radius: 55px;
  box-shadow: inset 0 0 0 5px #444;
}
.phone .screen {
  width: 375px;
  height: 667px;
  box-shadow: 0 0 0 5px #444;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-perspective: 0;
  perspective: none;
  overflow: hidden;
}

.puzzle-app {
  position: relative;
  background: #fff;
  color: #fff;
}
.puzzle-app, .puzzle-app button {
  font-family: "Montserrat";
  font-size: 16px;
  color: #fff;
}
.puzzle-app .view {
  position: relative;
}
.puzzle-app .view > * {
  margin: 0;
}
.puzzle-app .view-row {
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);
}
.puzzle-app .view-row:nth-child(8) { background: #513b56; }
.puzzle-app .view-row:nth-child(7) { background: #525174; }
.puzzle-app .view-row:nth-child(6) { background: #436e8e; }
.puzzle-app .view-row:nth-child(5) { background: #348aa7; }
.puzzle-app .view-row:nth-child(4) { background: #49afa3; }
.puzzle-app .view-row:nth-child(3) { background: #5dd39e; }
.puzzle-app .view-row:nth-child(2) { background: #8ddd91; }
.puzzle-app .view-row:nth-child(1) { background: #bce784; }
.puzzle-app .view-row .children-centered {
  height: 100%;
}
.puzzle-app .view-row .logo {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.puzzle-app .view-row .column.icon .children-centered svg { 
  display: inline-block;
  position: relative;
  max-width: 50%;
  max-height: 50%;
}
.puzzle-app .view-row .column.text,
.puzzle-app .view-row .column.text .children-centered {
  text-align: left;
}
.puzzle-app .view-row .column.text .row-header .title {
  position: absolute;
  bottom: 0;
}
.puzzle-app .view-row button {
  border-width: 0;
  box-shadow: inset 0 0 0 2px #fff;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  background: transparent;
  outline: none;
  cursor: pointer;
}
.puzzle-app .view-row button.inactive {
  opacity: .5;
  cursor: default;
}
.puzzle-app .view-row button.resume-puzzle {
  margin-left: 5%;
}
.puzzle-app .view-row button.resume-puzzle:before {
  content: 'Resume Puzzle';
}
.puzzle-app .view-row button.new-puzzle {
  margin-right: 5%;
  background: rgba(255, 255, 255, .1);
}
.puzzle-app .view-row button.new-puzzle:before {
  content: 'New Puzzle';
}


.board {
  background-color: white;
}
.piece {
  z-index: 2 !important;
  cursor: pointer;
  background-repeat: no-repeat;
  background-color: white;
  position: relative;
  -webkit-transition: box-shadow 100ms;
  transition: box-shadow 100ms;
}
.piece:hover {
  /* To be removed on mobile app version  */
  z-index: 3 !important;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.8);
}
.piece.in-motion {
  z-index: 4 !important;
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.8);
}
.piece.to-swap {
  z-index: 1 !important;
}
